@import 'variables.scss';

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding: 0px;
	font-size: 1rem;
	background: $dark-grey;
	font-family: $open-sans;
	color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
	font-family: $hind;
	font-weight: 400;
}

a {
	color: $black;
	text-decoration: underline;

	&:hover {
		cursor: pointer;
	}

	&:visited {
		color: $black;
	}
}

p {
	line-height: 28px;
}

// Utility classes
.clearfix {
	display: block;
	clear: both;
}
.wrapper {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: calc(100% - 40px);
	max-width: 1400px;
	background-color: $light-grey;

	@media only screen and (min-width: $desktop) {
		margin-top: 40px;
		margin-left: 40px;
		margin-right: 40px;
		width: calc(100% - 80px);
	}

	&::after {
		content: '';
		display: block;
		height: 1px;
	}
}
.section {
	margin: 20px;
	padding: 20px;
	background-color: $white;

	@media only screen and (min-width: $desktop) {
		margin: 40px;
		padding: 40px;
	}

	h2 {
		text-align: center;
		font-size: 1.6rem;
	}
}
.section-alt {
	margin: 20px 0px;
	border: solid 20px $white;
	background-color: $light-grey;

	@media only screen and (min-width: $desktop) {
		margin: 40px 0px;
		border: solid 40px $white;
	}
}
.block {
	height: 20px;

	@media only screen and (min-width: $desktop) {
		height: 40px;
	}
}

// Header
.notification {
	padding: 15px;
	background-color: $dark-blue;
	text-align: center;
	font-size: 0.9rem;
	color: $white;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 30px 40px;
	background: $white;
	font-size: 1rem;
	border-bottom: solid 2px $light-grey;

	@media only screen and (min-width: $desktop) {
		flex-direction: row;
	}

	navigation {
		display: flex;
		flex-direction: row;
		align-items: center;

		a {
			text-decoration: none;
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 20px 0px;
		padding: 0px;
		list-style: none;

		@media only screen and (min-width: $desktop) {
			margin: 0px;
		}

		li {
			margin-left: 10px;

			@media only screen and (min-width: $desktop) {
				margin-left: 40px;
			}

			&:first-of-type {
				margin-left: 0px;
			}
		}
	}

	h1 {
		display: flex;
		align-items: center;
		font-size: 1.2rem;

		img {
			margin-right: 10px;
			max-width: 40px;
		}
	}

	.membership {
		padding: 16px 28px;
		background: $blue;
		border-radius: 4px;
		color: $white;
		text-decoration: none;

		&:hover {
			background: $dark-blue;
		}
	}
}

// Footer
footer {
	ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}

	.links {
		display: grid;
		grid-template-columns: 1fr;
		margin-bottom: 20px;

		@media only screen and (min-width: $desktop) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		h3,
		h4 {
			font-size: 1rem;
		}

		h3 {
			display: flex;
			align-items: flex-start;
			margin-bottom: 20px;

			@media only screen and (min-width: $desktop) {
				margin-botton: 0px;
			}

			img {
				margin-right: 2px;
				max-width: 20px;
			}
		}

		h4 {
			margin-top: 20px;
			margin-bottom: 10px;

			@media only screen and (min-width: $desktop) {
				margin-top: 0px;
			}
		}

		ul li a {
			color: #484d52;
		}
	}
	.copyright {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		clear: both;
		padding-top: 20px;
		border-top: solid 1px $dark-grey;

		ul {
			display: flex;
			flex-direction: row;
		}

		.fab {
			font-size: 1.3rem;
		}
	}
}

// Homepage
.homepage-intro {
	margin-top: 0px;
	background-color: $white;
	text-align: center;
}
.the-numbers {
	background-color: $light-grey;

	.numbers {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
		margin-top: 20px;

		@media only screen and (min-width: $desktop) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 40px;
			margin-top: 40px;
		}

		> div {
			padding: 20px;
			background: $white;

			@media only screen and (min-width: $desktop) {
				padding: 40px;
			}

			h3 {
				display: flex;
				align-items: center;
				font-size: 1.6rem;

				span {
					margin-left: 6px;
					font-size: 1.2rem;
				}
			}
		}
	}
}
