// Fonts
$hind: 'Hind', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Colors
$light-grey: #eeefee;
$dark-grey: #cfd4d2;
$white: #fff;
$black: #212529;
$blue: #4589b0;
$dark-blue: #376c8b;

// Other
$desktop: 950px;
$box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
